tomli_w --no-binary :all:
setuptools --no-binary :all:
dotenv --no-binary :all:
PyInstaller --no-binary :all:
Cython --no-binary :all:
mdutils --no-binary :all:
tomllib --no-binary :all:
github --no-binary :all:
pipreqs --no-binary :all:
git --no-binary :all: